@{
    ViewData["Title"] = "View";
}

<h1>Image</h1>

<form asp-action="Upload" enctype="multipart/form-data">
    <input class="form-control" name="files" type="file" />
    <input class="btn btn-primary" type="submit" />
</form>


