@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<form class="form-control" asp-action="Upload" enctype="multipart/form-data">
    <input class="form-control" name="submittedImg" type="file" />
</form>


