@model Stripe.Checkout.Session

@{
    ViewBag.Title = "Home Page";
}
<script src="https://js.stripe.com/v3/"></script>
<br />
<br />


</script>
<div>
    <br />
    <hr />
    @Html.ActionLink("Liste des ouvrages", "Index", "Books")<br />
    @Html.ActionLink("Commandes", "Index", "Orders")<br />
    @Html.ActionLink("Panier d'achat", "Index", "Shoppingcarts")<br />
    <hr />
</div>





