
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div>
        Payment Successful (1)
    </div>
</body>
</html>

<div>
    <br />
    <hr />
    @Html.ActionLink("Liste des ouvrages", "Index", "Books")<br />
    @Html.ActionLink("Commandes", "Index", "Orders")<br />
    @Html.ActionLink("Panier d'achat", "Index", "Shoppingcarts")<br />
    <hr />
</div>

