<h1>Gestion des listes</h1>

<hr />

@Html.ActionLink("Editeurs", "Index", "Editors")
<br />
@Html.ActionLink("Auteurs", "Index", "Authors")
<br />
@Html.ActionLink("Genres", "Index", "Genres")
<br />
@Html.ActionLink("Categories", "Index", "Categories")
<br />