USE ESBookshop
GO


-- UPDATE
/* 

UPDATE Books2 
SET DATEPUBLICATION = DATEADD(day, (ABS(CHECKSUM(NEWID())) % 65530), 0)
UPDATE BOOKS2 SET SUMMARY = CONCAT(CONCAT('Résumé du livre : ', TITLE), CONCAT(' | Date de publication : ', DATEPUBLICATION)); 
UPDATE [dbo].[BOOKS2] SET ID_EDITEUR = ABS(CHECKSUM(NewId())) % 11
UPDATE [dbo].[BOOKS2] SET [ISBN2] = abs(checksum(newid()))%(10000000000000)

*/
 



INSERT [dbo].[BOOKS] ([ID_EDITEUR], [TITLE], [SUBTITLE], [PRICE], [DATEPUBLICATION], [SUMMARY], [ISBN]) VALUES (6, N'L''ENA comme si vous y étiez', NULL, 6.4000, CAST(N'2032-09-07T00:00:00.000' AS DateTime), N'Résumé du livre : L''ENA comme si vous y étiez | Date de publication : Sep  7 2032 12:00AM', N'996269882')
INSERT [dbo].[BOOKS] ([ID_EDITEUR], [TITLE], [SUBTITLE], [PRICE], [DATEPUBLICATION], [SUMMARY], [ISBN]) VALUES (3, N'Les moulins à nuages', NULL, 13.3000, CAST(N'2019-01-22T00:00:00.000' AS DateTime), N'Résumé du livre : Les moulins à nuages | Date de publication : Jan 22 2019 12:00AM', N'1189514814')
INSERT [dbo].[BOOKS] ([ID_EDITEUR], [TITLE], [SUBTITLE], [PRICE], [DATEPUBLICATION], [SUMMARY], [ISBN]) VALUES (8, N'Orgueuil et préjugés', NULL, 15.2000, CAST(N'1912-01-17T00:00:00.000' AS DateTime), N'Résumé du livre : Orgueuil et préjugés | Date de publication : Jan 17 1912 12:00AM', N'552032787')
GO


