USE [ESBookshop]
GO
/****** Object:  Table [dbo].[_EFMigrationsHistory]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_EFMigrationsHistory](
	[MigrationId] [varchar](450) NOT NULL,
	[ProductVersion] [varchar](450) NOT NULL,
 CONSTRAINT [PK_EFMIGRATIONSHISTORY] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appreciations]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appreciations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_LineItem] [int] NOT NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Payment] [int] NOT NULL,
	[EvaluationDate] [datetime] NOT NULL,
	[Evaluation] [varchar](20) NOT NULL,
 CONSTRAINT [PK_APPRECIATIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_ROLECLAIMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [varchar](256) NULL,
	[NormalizedName] [varchar](256) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_USERCLAIMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [varchar](450) NOT NULL,
	[ProviderKey] [varchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [text] NULL,
 CONSTRAINT [PK_ASPNETUSERLOGINS] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[RoleId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERROLES] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Id_Customer] [int] NOT NULL,
	[Username] [nvarchar](256) NULL,
	[NormalizedUsername] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_USERTOKENS] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[Name] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [varchar](100) NOT NULL,
	[Firstname] [varchar](100) NOT NULL,
 CONSTRAINT [PK_AUTHORS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Editor] [int] NOT NULL,
	[Title] [char](255) NOT NULL,
	[Subtitle] [varchar](128) NULL,
	[Price] [money] NOT NULL,
	[DatePublication] [datetime] NULL,
	[Summary] [char](255) NULL,
	[ISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [char](100) NOT NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cowriters]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cowriters](
	[Id_Author] [int] NOT NULL,
	[Id_Book] [int] NOT NULL,
 CONSTRAINT [PK_COWRITERS] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC,
	[Id_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Acronyme] [varchar](4) NULL,
	[Firstname] [varchar](50) NULL,
	[Lastname] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
	[Zip] [varchar](4) NULL,
	[City] [varchar](100) NULL,
	[Phone] [varchar](13) NULL,
	[Email] [char](255) NULL,
	[BillingAddress] [varchar](255) NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editors]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[CountryCode] [varchar](3) NOT NULL,
	[URL] [char](255) NULL,
	[Email] [char](255) NULL,
 CONSTRAINT [PK_EDITORS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_FORMATS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_GENRES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NOT NULL,
	[Code] [nchar](3) NOT NULL,
 CONSTRAINT [PK_LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineItems]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Shoppingcart] [int] NOT NULL,
	[Id_Book] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Id_Order] [int] NULL,
	[InsertedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LINEITEMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderedDate] [datetime] NOT NULL,
	[ShippedDate] [datetime] NOT NULL,
	[ShippingAddress] [char](255) NOT NULL,
	[Status] [varchar](25) NOT NULL,
	[TotalPrice] [money] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PaidDate] [datetime] NOT NULL,
	[PriceTotal] [money] NOT NULL,
	[Details] [char](255) NOT NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Id_Book] [int] NOT NULL,
	[Id_Categorie] [int] NOT NULL,
	[Id_Genre] [int] NOT NULL,
	[Id_Format] [int] NOT NULL,
	[Id_Language] [int] NOT NULL,
 CONSTRAINT [PK_RANKS] PRIMARY KEY CLUSTERED 
(
	[Id_Book] ASC,
	[Id_Categorie] ASC,
	[Id_Genre] ASC,
	[Id_Format] ASC,
	[Id_Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SHOPPINGCARTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 18.05.2020 17:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Book] [int] NOT NULL,
	[InitialStock] [smallint] NOT NULL,
	[CurrentStock] [smallint] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_STOCKS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'MIGR-4EB586ACB9', N'V01')
INSERT [dbo].[_EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'MIGR-54349F3FC7', N'V01')
INSERT [dbo].[_EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'MIGR-F388F76BF2', N'V03')

INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'ID-32911D8393', N'CONCURRENCYSTAMP-F3F6E32662', N'Admin', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'ID-8F25D63E5C', N'CONCURRENCYSTAMP-6E31621404', N'Utilisateur', N'UTILISATEUR')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'ID-D41E97D28F', N'CONCURRENCYSTAMP-198B7AB0A3', N'Client', N'CLIENT')

SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [Lastname], [Firstname]) VALUES (1, N'Bellier', N'Irène')
INSERT [dbo].[Authors] ([Id], [Lastname], [Firstname]) VALUES (2, N'Arnaud', N'Georges J.')
INSERT [dbo].[Authors] ([Id], [Lastname], [Firstname]) VALUES (3, N'Austen', N'Jane')
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

GO
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Description]) VALUES (1, N'Art                                                                                                 ')
INSERT [dbo].[Categories] ([Id], [Description]) VALUES (2, N'Bande dessinée                                                                                      ')
INSERT [dbo].[Categories] ([Id], [Description]) VALUES (3, N'Cuisine                                                                                             ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[Cowriters] ([Id_Author], [Id_Book]) VALUES (1, 3)
INSERT [dbo].[Cowriters] ([Id_Author], [Id_Book]) VALUES (2, 159)
INSERT [dbo].[Cowriters] ([Id_Author], [Id_Book]) VALUES (6, 48)
GO
SET IDENTITY_INSERT [dbo].[Editors] ON 

SET IDENTITY_INSERT [dbo].[Editors] OFF
SET IDENTITY_INSERT [dbo].[Formats] ON 

INSERT [dbo].[Formats] ([Id], [Description]) VALUES (1, N'Papier')
INSERT [dbo].[Formats] ([Id], [Description]) VALUES (2, N'Ebook')
INSERT [dbo].[Formats] ([Id], [Description]) VALUES (3, N'Audiobook')
SET IDENTITY_INSERT [dbo].[Formats] OFF
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Description]) VALUES (1, N'Antique')
INSERT [dbo].[Genres] ([Id], [Description]) VALUES (2, N'Contemporaine')
INSERT [dbo].[Genres] ([Id], [Description]) VALUES (3, N'Gothique')
SET IDENTITY_INSERT [dbo].[Genres] OFF
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Description], [Code]) VALUES (1, N'Français', N'FRA')
INSERT [dbo].[Languages] ([Id], [Description], [Code]) VALUES (2, N'Anglais', N'ANG')
INSERT [dbo].[Languages] ([Id], [Description], [Code]) VALUES (3, N'Allemand', N'ALL')
SET IDENTITY_INSERT [dbo].[Languages] OFF

INSERT [dbo].[Ranks] ([Id_Book], [Id_Categorie], [Id_Genre], [Id_Format], [Id_Language]) VALUES (1, 9, 6, 5, 1)
INSERT [dbo].[Ranks] ([Id_Book], [Id_Categorie], [Id_Genre], [Id_Format], [Id_Language]) VALUES (3, 3, 12, 4, 4)
INSERT [dbo].[Ranks] ([Id_Book], [Id_Categorie], [Id_Genre], [Id_Format], [Id_Language]) VALUES (3, 5, 11, 4, 4)
GO
SET IDENTITY_INSERT [dbo].[Stocks] ON 

INSERT [dbo].[Stocks] ([Id], [Id_Book], [InitialStock], [CurrentStock], [DeliveryDate]) VALUES (1, 46, 317, 267, CAST(N'2018-10-11T17:27:44.000' AS DateTime))
INSERT [dbo].[Stocks] ([Id], [Id_Book], [InitialStock], [CurrentStock], [DeliveryDate]) VALUES (2, 27, 372, 322, CAST(N'2018-03-25T17:31:56.000' AS DateTime))
INSERT [dbo].[Stocks] ([Id], [Id_Book], [InitialStock], [CurrentStock], [DeliveryDate]) VALUES (3, 29, 85, 55, CAST(N'2018-05-06T17:43:28.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Stocks] OFF
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [InitialStock]
GO
ALTER TABLE [dbo].[Appreciations]  WITH CHECK ADD  CONSTRAINT [FK_APPRECIATIONS_LINEITEMS] FOREIGN KEY([Id_LineItem])
REFERENCES [dbo].[LineItems] ([Id])
GO
ALTER TABLE [dbo].[Appreciations] CHECK CONSTRAINT [FK_APPRECIATIONS_LINEITEMS]
GO
ALTER TABLE [dbo].[Appreciations]  WITH CHECK ADD  CONSTRAINT [FK_APPRECIATIONS_ORDERS] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Appreciations] CHECK CONSTRAINT [FK_APPRECIATIONS_ORDERS]
GO
ALTER TABLE [dbo].[Appreciations]  WITH CHECK ADD  CONSTRAINT [FK_APPRECIATIONS_PAYMENTS] FOREIGN KEY([Id_Payment])
REFERENCES [dbo].[Payments] ([Id])
GO
ALTER TABLE [dbo].[Appreciations] CHECK CONSTRAINT [FK_APPRECIATIONS_PAYMENTS]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_USERS_CUSTOMERS] FOREIGN KEY([Id_Customer])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_USERS_CUSTOMERS]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_EDITORS] FOREIGN KEY([Id_Editor])
REFERENCES [dbo].[Editors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_BOOKS_EDITORS]
GO
ALTER TABLE [dbo].[Cowriters]  WITH CHECK ADD  CONSTRAINT [FK_COWRITERS_AUTHORS] FOREIGN KEY([Id_Author])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Cowriters] CHECK CONSTRAINT [FK_COWRITERS_AUTHORS]
GO
ALTER TABLE [dbo].[Cowriters]  WITH CHECK ADD  CONSTRAINT [FK_COWRITERS_BOOKS] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Cowriters] CHECK CONSTRAINT [FK_COWRITERS_BOOKS]
GO
ALTER TABLE [dbo].[LineItems]  WITH CHECK ADD  CONSTRAINT [FK_LINEITEMS_BOOKS] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LINEITEMS_BOOKS]
GO
ALTER TABLE [dbo].[LineItems]  WITH CHECK ADD  CONSTRAINT [FK_LINEITEMS_SHOPPINGCARTS] FOREIGN KEY([Id_Shoppingcart])
REFERENCES [dbo].[ShoppingCarts] ([Id])
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LINEITEMS_SHOPPINGCARTS]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_ORDERS_USERS]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_PAYMENTS_USERS]
GO
ALTER TABLE [dbo].[Ranks]  WITH CHECK ADD  CONSTRAINT [FK_RANKS_BOOKS] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Ranks] CHECK CONSTRAINT [FK_RANKS_BOOKS]
GO
ALTER TABLE [dbo].[Ranks]  WITH CHECK ADD  CONSTRAINT [FK_RANKS_CATEGORIES] FOREIGN KEY([Id_Categorie])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Ranks] CHECK CONSTRAINT [FK_RANKS_CATEGORIES]
GO
ALTER TABLE [dbo].[Ranks]  WITH CHECK ADD  CONSTRAINT [FK_RANKS_FORMATS] FOREIGN KEY([Id_Format])
REFERENCES [dbo].[Formats] ([Id])
GO
ALTER TABLE [dbo].[Ranks] CHECK CONSTRAINT [FK_RANKS_FORMATS]
GO
ALTER TABLE [dbo].[Ranks]  WITH CHECK ADD  CONSTRAINT [FK_RANKS_GENRES] FOREIGN KEY([Id_Genre])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[Ranks] CHECK CONSTRAINT [FK_RANKS_GENRES]
GO
ALTER TABLE [dbo].[Ranks]  WITH CHECK ADD  CONSTRAINT [FK_RANKS_LANGUAGES] FOREIGN KEY([Id_Language])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Ranks] CHECK CONSTRAINT [FK_RANKS_LANGUAGES]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPINGCARTS_USERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_SHOPPINGCARTS_USERS]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_STOCKS_BOOKS] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_STOCKS_BOOKS]
GO
