@{
    ViewBag.Title = "A propos";
}
<h1>@ViewBag.Title de ESBookshop</h1>
<h3>@ViewBag.Message</h3>


<hr />

<div class="jumbotron">
    <h1>Librairie en ligne ESBookshop</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Qui sommes-nous ?</h2>
        <p>
            ESBookshop est une librairie en ligne de vente de livres.<br />
            ESBookshop est un commerce de vente en ligne de livres.
            Son objectif est de mettre à la disposition des internautes un espace d'échange dédiés aux livres par l'intermédiaire de son réseau informatique Windows (ASP.NET Core).
    </div>

    <div class="col-sm-12">
        <h2>Quelques bonnes Pratiques</h2>
        Afin de donner une seconde vie aux livres afin d’augmenter le nombre des lecteurs, nous suggérons quelques bonnes pratiques
        <ul>
            <li>l'abandon de livres en des lieux publics, couplés ou non avec l'utilisation d'internet, connu sous le nom de bookcrossing ;</li>
            <li>la mise à disposition gratuite de livres dans des tiers-lieux de type bars ou cafés ;</li>
            <li>les bibliothèques ambulantes ou temporaires ;</li>
            <li>les bibliothèques libres dans l'espace public (exemple du projet franco-allemand BücherboXX-BiblioboXX dans les anciennes cabines téléphoniques).</li>
        </ul>
        </p>
        <p><a class="btn btn-default" href="https://fr.wikipedia.org/wiki/Livre_(document)">Wikipédia &raquo;</a></p>
    </div>

    <div class="col-md-12">
        <h2>Nos relations vendeur-acheteur</h2>
        Reposant sur la nature de la relation vendeur-acheteur, ces types sont

        <ul>
            <li>l'échange électronique entre entreprises et gouvernement (B2G);</li>
            <li>le commerce électronique entre entreprise (B2B) ;</li>
            <li>l'échange électronique entre une entreprise et ses employés (Intranet ou B2E) ; </li>
            <li>le commerce électronique à destination des particuliers ou business to client ( B2C) : il s'agit de notre site web marchand ESBookshop ;</li>
        </ul>
        <p><a class="btn btn-default" href="https://fr.wikipedia.org/wiki/Commerce_%C3%A9lectronique">ECommerce &raquo;</a></p>
        <hr />
    </div>

    <div>
        @Html.ActionLink("Retour à la page d'accueil", "Index", "Home")
    </div>

</div>
