
@{
    ViewData["Title"] = "Error";
}

<h1>Erreur de traitement </h1>

<div>
    @* Liens de Navitation

        <a asp-action="Edit" asp-route-id="@Model.Id"> TextAffiche </a> |
        <a asp-controller="Dashboard" asp-action="Index"> TextAffiche </a>
        <a asp-controller="Home" asp-action="Index"> TextAffiche </a>
    *@
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>
