
@{
    ViewData["Title"] = "Error";
}

<h1>Erreur</h1>

<div>

    <div>
        <h4>@TempData["ERROR"]</h4>
    </div>

    @* Liens de Navitation

        <a asp-action="Edit" asp-route-id="@Model.Id"> TextAffiche </a> |
        <a asp-controller="Dashboard" asp-action="Index"> TextAffiche </a>
        <a asp-controller="Home" asp-action="Index"> TextAffiche </a>
    *@
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>
