/.vs/
quickstart2/src/Api/appsettings.json
quickstart2/src/IdentityServerAspNetIdentity/appsettings.json
quickstart2/.vs/

*.cache

quickstart2/src/Api/obj/

quickstart2/src/IdentityServer/obj/

quickstart2/src/IdentityServerAspNetIdentity/obj/

quickstart2/src/Api/bin/Debug/

quickstart2/src/IdentityServerAspNetIdentity/bin/Debug/

quickstart2/src/IdentityServerAspNetIdentity/IdentityServerAspNetIdentity.csproj.user

quickstart2/src/WebApplication1/obj/

quickstart2/src/WebApplication1/bin/Debug/

quickstart2/src/AppWebClient/bin/

quickstart2/src/AppWebClient/obj/

quickstart2/src/AppWebClient/appsettings.json

quickstart2/LibraryDbContext/
