@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />

<div>
    @* Liens de Navitation

        <a asp-action="Edit" asp-route-id="@Model.Id"> TextAffiche </a> |
        <a asp-controller="Dashboard" asp-action="Index"> TextAffiche </a>
        <a asp-controller="Home" asp-action="Index"> TextAffiche </a>
    *@
    <a asp-controller="Dashboard" asp-action="Index">Retour au tableau de bord</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>

<div>
    <h4>Appreciation</h4>
    <hr />
    <dl class="row">

        @* Nom de l'action*@
        <dt class="col-sm-8">
            Titre
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            Lien/ URL
        </dd>


        @* Nom de l'action*@
        <dt class="col-sm-8">
            Evolution des appréciations
        </dt>
        @* Action*@
        <dd class="col-sm-4">
            @Html.ActionLink("Evolution des appréciations", "Appreciations", "Charts")
        </dd>

    </dl>
</div>

