@model IEnumerable<AppWebClient.ViewModel.DashboardViewModel>
@{
    ViewData["Title"] = "StockAvailability";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StockAvailability</title>
</head>
<body>

    <h1>Stocks en épuisement</h1>
    <br />
    <div>
        @* COMMENT *@
        <a asp-controller="Dashboard" asp-action="Index">Retour au tableau de bord</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
    </div>
    <br />
    <p>Livres dont la quantité en stock actuelle est inférieure ou égale à 10 articles</p> <br />
    <table class="table">
        <tr>
            <th>
                Titre
            </th>
            <th>
                Stock Courant
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStock)
                </td>

            </tr>
        }
    </table>
    <hr />



</body>
</html>

