@model IEnumerable<AppWebClient.Models.Author>

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Liste des auteurs</h1>
@Html.ActionLink("Accueil", "Index", "Home")
<hr />
<form asp-controller="Authors" asp-action="UserIndex">
    <p>
        Recherche : <input type="text" name="SearchString">
        <input type="submit" value="Filtrer" />
    </p>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Livres par auteur
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    <a asp-action="GetAuthorBooks" asp-route-id="@item.Id">Liste des livres</a>
                </td>
            </tr>
        }
    </tbody>
</table>
