@using static IdentityServerAspNetIdentity.Startup;
@{
    ViewData["Title"] = "Numéro confirmé";
}

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div>
            <p>
                Merci.
            </p>
            <a href="@ViewBag.urlAppWeb">Retourner à l'application</a>
        </div>
    </div>
