@model IdentityServerAspNetIdentity.Models.ApplicationUser

<h2>Utilisateur créé !</h2>

<p>Votre compte a bien été créé et vous pouvez dès à présent y accéder.</p>

@Html.ActionLink("Se connecter", "Login", "Account")
<br>
@Html.ActionLink("Verifier numéro", "VerifyPhone", "ApplicationUser")
