@model IdentityServerAspNetIdentity.Models.ApplicationUser

<h2>Erreur</h2>

<p>Le mot de passe doit :</p>
<ul>
    <li>Contenir Au moins 6 caractères</li>
    <li>Commencer par une lettre</li>
    <li>Contenir Au moins 1 chiffre</li>
</ul>
