@model IdentityServerAspNetIdentity.Models.ApplicationUser

<h2>Erreur</h2>

<p>Le nom d'utilisateur ne doit pas contenir d'accent ou alors il est déjà pris.</p>

<p>Le mot de passe doit :</p>
<ul>
    <li>Contenir au moins 6 caractères</li>
    <li>Commencer par une lettre</li>
    <li>Contenir au moins 1 chiffre</li>
</ul>
