@model IdentityServerAspNetIdentity.Models.ApplicationUser

<div class="create-page">
    <div class="page-header">
        <h1>Mot de passe changé</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mot de passe changé</h3>
                </div>
                <div class="panel-body">
                    Votre nouvea mot de passe a été enregistré
                </div>
                <br>
                @Html.ActionLink("Se connecter", "Login", "Account")
            </div>
        </div>
    </div>
</div>