@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        @*Logout*@
        <small>Vous êtes maintenant déconnecté</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
<div>
    Cliquez <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">ici</a> pour retourner sur la page
    @*<span>@Model.ClientName</span>*@ de connexion.
</div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" hidden="hidden" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
