
@{
    ViewData["Title"] = "Mes commandes";
}

<h1>Mes commandes</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        Vous n'avez pas encore commandé de livres. Vous pouvez le faire <a asp-controller="Books" asp-action="Index">ici</a>.
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>

