
@{
    ViewData["Title"] = "Stripe";
}

<div>
    <h1>Aide</h1>
    <h3>Service de paiement Stripe</h3>
</div>

<div>
    <hr />

    @Html.ActionLink("Accueil", "Index", "Home")<br />
    @Html.ActionLink("Connexion", "Index", "Connexion")<br />
    @Html.ActionLink("A propos", "About", "Home")<br /><br />
    <hr />

    <hr />
</div>


<h3>Clés du compte Stripe</h3>
<br />
<table class="table">
    <tr>
        <th>Type </th>
        <th>Valeur </th>
    </tr>
    <tr>
        <th>Clé publique</th>
        <td>pk_test_k0SLepu7ylRXpsxgezDrCifa00kOpIJYOL</td>
    </tr>
    <tr>
        <th>Clé privée</th>
        <td>Pas publicée, pour des raisons de sécurité.</td>
    </tr>
    <tr>
        <th>Clé API</th>
        <td>Pas publicée, pour des raisons de sécurité.</td>
    </tr>
</table>

<br />
<h3>Cartes de tests</h3>
<br />
<table class="table">
    <tr>
        <th>NUMERO</th>
        <th>MOYEN DE PAIEMENT</th>
        <th>CVC</th>
        <th>DATE</th>
    </tr>
    <tr>
        <td>4242424242424242</td>
        <td>Visa</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>4000056655665556</td>
        <td>Visa (debit)</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>5555555555554444</td>
        <td>Mastercard</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>2223003122003222</td>
        <td>Mastercard (2-series)</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>5200828282828210</td>
        <td>Mastercard (debit)</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>5105105105105100</td>
        <td>Mastercard (prepaid)</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>378282246310005</td>
        <td>American Express</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>371449635398431</td>
        <td>American Express</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>3056930009020004</td>
        <td>Diners Club</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>36227206271667</td>
        <td>Diners Club (14 digit card)</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>
    <tr>
        <td>3566002020360505</td>
        <td>JCB</td>
        <td>3 nombres</td>
        <td>Date future quelconque</td>
    </tr>

</table>


